In [ ]:
## import libaries
import pandas as pd
from datetime import datetime 
import numpy as np

In [ ]:
# create daily timerange from Jan. 1 2019 to Dec. 31, 2019
my_dates = pd.date_range(start='1/1/2019', end='12/31/2019', freq='D')
my_dates

In [ ]:
type(my_dates)

In [ ]:
## create series CALLED some_dates with that datetime index

In [ ]:
## return 30th day of each month

In [ ]:
## select only fridays

In [ ]:
## start of quarter

In [ ]:
## end of quarter

In [ ]:
## Let's add some data to our series and turn it into a dataframe

In [ ]:
## step 1. turn into a dataframe

In [ ]:
df

In [ ]:
##Step 2. create random data for those

df['#_widgets'] = np.random.randint(0,100,size=(len(my_dates)))

In [ ]:
df.head()

In [ ]:
## create a day of week by calling .day_name()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
## find all dates with widget sales greater than 95 units

In [ ]:
type(over_95)

In [ ]:
## ONLY RUN THIS IF NEED TO SET INDEX TO DATE
## make "date" column the index
df.set_index("date", inplace = True)
df

In [ ]:
## only once date has been turned into an index
## total number widgets per month

In [ ]:
## only once date has been turned into an index
## total per quarter

In [ ]:
df.info()

In [ ]:
## the index date is accessed as a datetime object and we pull out the month name

## Time Zones
Universal Time Coordinated / Universal Coordinated Time

tz database
https://en.wikipedia.org/wiki/Tz_database

List of tz database time zones
https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

In [ ]:
pip install pytz

In [ ]:
from pytz import all_timezones as atz
from pytz import common_timezones as ctz

In [ ]:
len(atz)

In [ ]:
len(ctz)

In [ ]:
atz

In [ ]:
### check if a city is on the list
## beware: cities with multiple words require underscore
[my_city for my_city in atz if my_city.endswith('New_York')]

In [ ]:
ctz

In [ ]:
### check if a city is on the list
## beware: cities with multiple words require underscore

In [ ]:
## create a timestamp (time right now) for NYC
ny_time = pd.Timestamp("2020-10-6 9:30pm").tz_localize('America/New_York')
ny_time

In [ ]:
## create a timestamp (time right now) for LA
la_time = ny_time.tz_convert('America/Los_Angeles')
la_time

## Create a time in Shanghai time and convert it to Tokyo time

In [ ]:
## create a timestamp (time right now) for Shanghai called shanghai_time

In [ ]:
## convert Shanghai time to Tokyo time and call it tokyo_time

# Time Deltas

In [ ]:
start = pd.to_datetime("2020-10-4 5:00 pm")

In [ ]:
end = pd.to_datetime("2020-10-6 4:00 pm")

In [ ]:
start

In [ ]:
end

In [ ]:
## difference between start and end time

In [ ]:
## create a list of of flight times
flight = [['2020-6-24 5:30am', '2020-6-24 10:47am' ],
          ['2020-6-24 7:45am', '2020-6-24 2:27pm'],
          ['2020-6-24 8:35am', "2020-6-25 11:52pm" ]]

In [ ]:
## convert flight times to dataframe
df = pd.DataFrame(flight, columns = ['Departure', 'Arrival'])
df

In [ ]:
df.info()

In [ ]:
## convert times to datetime objects

In [ ]:
df.info()

In [ ]:
## how long were the flights